.switcherContainer {
  position: relative;
}

.switcher {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--font-manrope);
  display: inline-flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  transition: background-color 0.15s ease-in-out;
  border: 2px solid var(--color-brand-primary);
  &:hover:not(.mobile) {
    background-color: var(--color-brand-primary);
  }
}

.switcherChevron {
  transition: transform 0.3s ease-in-out;
}
.switcherChevronActive {
  transform: rotate(180deg);
}

.switcherInner {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  border-radius: 12px;
  border: 2px solid var(--color-brand-primary);
  padding: 8px;
  transition:
    opacity 0.15s ease-in-out,
    visibility 0.15s ease-in-out;
  background-color: var(--color-brand-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.switcherInnerOpen {
  opacity: 1;
  z-index: 10;
  visibility: visible;
}

.switcherOption {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 8px;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  &:hover:not(.mobile):not(.switcherOptionActive) {
    --accent-40: color-mix(in srgb, var(--accent) 40%, transparent);
    background-color: var(--color-brand-non-accent-1);
  }
}

.switcherOptionActive {
  background-color: var(--color-brand-non-accent-1);
}

@media screen and (max-width: 768px) {
  .switcher {
    font-size: 14px;
    gap: 6px;
    padding: 6px 8px;
  }
  .switcherInner {
    top: 42.5px;
    z-index: 1000;
  }
  .switcherChevron {
    scale: 0.75;
  }
}
